@import 'variables';
@import 'bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
}

.navbar-brand {
    letter-spacing: 0.02em;
}

.card {
    border-radius: 1rem;
}

.table > :not(caption) > * > * {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
